<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.movie.mapper.GoodsMapper">


	<insert id="GoodsInsert" parameterType ="com.movie.domain.GoodsVO">
		insert into goods 
		(num,currentPrice,wantPrice,userid,userName,category,title,content,untilDate,uploadDate,email,mainPic) 
		values ('0',0,#{wantPrice},#{userid},#{userName},#{category},#{title},#{content},#{untilDate},sysdate(),#{email},#{mainPic})
		<!-- 0값이 아니고 autoimplement추가 -->
	</insert>
	<update id="GoodsUpdate" parameterType ="com.movie.domain.GoodsVO">
		update goods set 
		title=#{title},content=#{content},mainPic=#{mainPic} 
		where num = #{num}
		<!-- 0값이 아니고 autoimplement추가 -->
	</update>
	<select id="goodsCnt" resultType="Integer">
		select count(*) from goods
	</select>
	
	<select id = "getList" parameterType="Integer" resultType="com.movie.domain.GoodsVO">
		select * from goods limit #{page},6
 	</select>
	
	<select id = "goodsDetail" parameterType="Integer" resultType="com.movie.domain.GoodsVO">
		select * from goods where num = #{num}
	</select>
	<insert id="GoodsPriceInsert" parameterType = "com.movie.domain.GoodsPriceVO">
		insert into goodsprice values ('0',(select max(num) from goods),#{price},#{product})
	</insert>
	<insert id="GoodsPriceReInsert" parameterType = "com.movie.domain.GoodsPriceVO">
		insert into goodsprice values ('0',#{goodsNum},#{price},#{product})
	</insert>
	<delete id = "GoodsPriceDelete" parameterType = "Integer">
		delete from goodsprice where goodsNum=#{num}
	</delete>
	<select id="GoodsPriceDetail" parameterType="Integer" resultType="com.movie.domain.GoodsPriceVO">
		select * from goodsprice where goodsNum=#{num}
	</select>
	<update id="goodsCurrentUpdate">
	 	update goods set currentPrice = currentPrice+#{price} where num=#{goodsNum}
	</update>
	<insert id="goodsPayInsert">
		insert into goodspay values (#{goodsNum},#{price},#{userid})
	</insert>
	<select id = "getGoodsPrice" parameterType = "Integer" resultType = "com.movie.domain.GoodsPriceVO">
		select * from goodsprice where goodsNum = #{num}
	</select>
	<select id = "getMyFunding" parameterType = "hashmap" resultType = "com.movie.domain.getMyFundingVO">
		select g.title,g.goodsNum,g.price,p.product,g.wantPrice,g.currentPrice
		from goodsprice p,
			(select g.title,pay.price,g.currentPrice,g.wantPrice,pay.goodsNum
			from goodspay pay,goods g
			where pay.userid=#{id} and pay.goodsNum = g.num) g
		where p.price = g.price and p.goodsNum = g.goodsNum limit ${page},4
	</select>
	<select id = "getMyFinacing" parameterType="String" resultType = "com.movie.domain.GoodsVO">
		select * from goods where userid=#{id}
	</select>
	<select id = "fundingCount" parameterType = "String" resultType = "Integer">
		select count(a.goodsNum) from(
		select g.title,g.goodsNum,g.price,p.product,g.wantPrice,g.currentPrice
		from goodsprice p,
			(select g.title,pay.price,g.currentPrice,g.wantPrice,pay.goodsNum
			from goodspay pay,goods g
			where pay.userid=#{id} and pay.goodsNum = g.num) g
		where p.price = g.price and p.goodsNum = g.goodsNum
) a
	</select>
	
	
	
</mapper>